################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorProject/Blazor/.vs/Blazor
/BlazorProject/Blazor/.vs/ProjectEvaluation
/BlazorProject/Blazor/bin/Debug/net8.0
